.recipe {
  border-radius: 5px;
  box-shadow: 0px 5px 15px rgb(151, 151, 151);
  margin: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: white;
  align-items: center;
  min-width: 40%;
}